{% extends 'main/base.html' %}
{% block content %}
{% for object in object_list %}
{% load my_tags %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card">
            <img class="card-img-top" src="{{ object.image|image_path_filter}}">
            <div class="card-body" align="center">
                <h5 class="card-title">{{object.name | title}}</h5>
                <p class="card-text">{{object.description | title | truncatewords:100}}</p>
            </div>
            <ul class="list-group list-group-flush" align="center">
                <li class="list-group-item" style="color:green">{{object.price}}$</li>
                <li class="list-group-item">{{object.category}}</li>
            </ul>
            <div class="card-body" align="center">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}