{% extends 'main/base.html' %}
{% block content %}
{% load my_tags %}
<div class="card mb-3">
    <img class="card-img-top" src="{{ object.preview|image_path_filter}}" alt="..." width="400px" height="400px">
    <div class="card-body">
        <h5 class="card-title">{{object.name}}</h5>
        <p class="card-text"><small class="text-muted">{{object.publication_date}}</small></p>
        <p class="card-text">{{object.description}}</p>
        <div class="like_views like_views--inActionPanel" role="img"
                 onmouseover="Likes.updateViews('wall-52461685_1572704', event);" title="47 просмотров">
                <span class="like_views__icon "><svg fill="none" height="16" viewBox="0 0 16 16" width="16"
                                                     xmlns="http://www.w3.org/2000/svg"><g fill="currentColor"><path
                        d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"></path><path clip-rule="evenodd"
                                                                                     d="M15.5 8c0-1-3-5-7.5-5S.5 7 .5 8s3 5 7.5 5 7.5-4 7.5-5zm-4 0a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"
                                                                                     fill-rule="evenodd"></path></g></svg></span>
                <span class="_views">{{object.view_count}}</span>
        <p class="card-text"><small class="text-muted">{{object.slug}}</small></p>
    </div>
</div>
{% endblock %}